* {
  overflow-x: none;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: white;
  padding: 30px 30px 30px 30px;
  width: 90%;
  z-index: 50;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo-image {
  width: 230px;
}
.language1 a.active {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease;
  font-size: 16px;
}

.nav-links a.active {
  color: white; /* Color for active link */
}

.nav-links a:hover {
  color: white; /* Optional hover effect */
}

.language1 a {
  text-decoration: none;
  color: gray;
}
.language1 a.active {
  text-decoration: none;
  color: white;
}

.mobile-header,
.desktop-header {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-bottom: 0px;
}
.language1.desktop-language {
  margin-right: 0px;
}

@media (max-width: 1024px) {
  .header {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .navv {
    display: none;
  }

  .menu-icon {
    display: block !important; /* Show menu icon on mobile */
    cursor: pointer;
    width: 40px; /* Adjust the size */
    height: 40px;
  }

  .logo-image {
    width: 180px;
  }
  .language1.mobile-language {
    padding-right: 20px;
  }
}
@media (max-width: 400px) {
  .language1.mobile-language {
    padding-right: 10px;
  }

  .menu-icon {
    display: block !important; /* Show menu icon on mobile */
    cursor: pointer;
    width: 35px; /* Adjust the size */
    height: 35px;
  }
}
.menu-icon {
  display: none; /* Hide menu icon by default */
}
